form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
p{
    color: red;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #464748;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 143px;
    left: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }